absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
boto3==1.12.12
botocore==1.15.12
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
docutils==0.15.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.18.0
h5py==2.9.0
idna==2.8
jmespath==0.9.5
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
mock==2.0.0
numpy==1.16.1
orjson==2.6.0
pbr==5.1.2
Pillow==6.2.1
protobuf==3.6.1
pycparser==2.19
pymongo==3.9.0
pyOpenSSL==19.0.0
pysqlite3==0.2.0
python-dateutil==2.8.0
redis==3.3.8
requests==2.22.0
s3transfer==0.3.3
sentencepiece==0.1.85
six==1.12.0
tensorboard==1.12.2
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.12.2
termcolor==1.1.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.43.0
ujson==2.0.1
urllib3==1.25.3
virtualenv==16.6.0
Werkzeug==0.14.1
wrapt==1.12.0
